<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="runmode" value="gpu" />
    <add key="rootdir" value="../../../../../../../python/" />
    <add key="datadir" value="../../../../../../../python/data/dog-breed-identification/train/" />
    <add key="imgsize" value="224" />
  </appSettings>
</configuration>